/**********App Page**********/

.App {
  font-family: 'Avenir Next', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.App-header {
  background-color: #F6F7FB;
  padding: 20px 0;
  color: #090911;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header-text{
  text-decoration: none;
}

.App-header-text:visited{
  color: #090911;
}

.App-intro {
  font-size: large;
}

.App-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-end;
}

.App-navigation li {
}

.App-navigation-link {
  list-style: none;
  color: #090911;
  text-decoration: none;
  background-color: #F6F7FB;
  border: 1px solid #3A6683;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

.App-navigation-link:hover {
  transition: ease 0.3s;
  color: #F6F7FB;
  background-color: #3A6683;
}

/**********Home Page**********/

.home-container{
  text-align: center;
}

/**********About Page**********/

.About-content {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.About-title {

}

.About-text {
  color: #091421;
}

/**********ShopType Page**********/

.STP-content {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.STP-image {
  width: 100%;
  height: 50%;
  margin-right: 2rem;
  padding: 0;
  margin:0;
}

.STP-header {
  display:flex;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
}

.STP-name {
  font-size: 24px;
}

.STP-price {
  font-size:24px;
}

.STP-list {
  display:flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 2rem 1rem 0 1rem;
  padding: 0;
  text-align: left;
}

.STP-description {
  margin: 0;
  padding: 0;
  display:flex;
  width: 50%;
}

.STPbuttons {
  background: #3A6682;
  border:none;
  min-height:32px;
  max-height: 32px;
  text-align: center;
  color:#F6F7FB;
}
